.formInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}

label{
    font-size: 1.2rem;
}
input{
    width: 50%;
    padding: 15px;
    margin: 10px 0px;
    border: 1px solid grey;
}
span{
    display: none;
    font-size: 15px;
    padding: 3px;
    color: red;
    margin-top: 5px;
}

input:invalid[focused = "true"] ~ span{
    display: block;
}
